<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hispaniolapay.mobile"
    android:versionCode="2"
    android:versionName="1.1.0-native-preview">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:label="Hispaniola Pay"
        android:supportsRtl="true"
        android:theme="@style/Theme.HispaniolaPay">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
